*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url();
    height: 200px;
    background-size: 100%;
    background-position: 0% 35%;
}

.contents1{
    background-color: lightgoldenrodyellow;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: inherit;
}
.contents2{
    background-color: lightsteelblue;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;
letter-spacing: 0.5px;
}

.col {
    padding: 8px;
    float: left;
    height: 300%;
    width: 50%;
}

.row::after{
    display: table;
    content: "";
    clear: both;
}

#youtube{ 


}
#videoCont{
    width: 400px;
    height: 200px;
    float: left;
    padding: 24px 8px 4px 0px;
    shape-outside: circle(50%);
}
body{
    background-color: black;
}
p{
    color: rgba(red, green, blue, alpha);
}
